*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerRound {
    background-color: rgb(22, 0, 37);
    width: 500px;
    height: 95vh;
    border-radius: 5px;
}

.ronda_name {
    background-color: rgb(255, 31, 31);
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.icon {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.question {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    margin: 20px 20px 10px 20px;
    padding: 0 0 20px 0;
    font-size: 25px;
}

.welcome {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    margin: 20px 20px 10px 20px;
    padding: 0 0 20px 0;
    font-size: 40px;
    font-weight: 500;
}

h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
}

.save {
    width: 100%;
    border: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.132);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.save:hover {
    background-color: rgba(0, 0, 0, 0.269);
}

.options {
   padding: 20px;
}

/* OPTION OF THE QUESTION */
.ques {
    background-color: rgba(0, 247, 255, 0.123);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: -100;
}

.ques:hover {
    background-color: rgba(0, 247, 255, 0.274);
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.063);
}



/* CORRECT */
.ques.select {
    background-color: rgba(155, 255, 109, 0.651);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(68, 255, 0, 0.145);
    pointer-events: none;
}

/* INCORRECT */
.ques.disabled {
    pointer-events: none;
    background-color: rgba(255, 67, 67, 0.932);
    border: 1px solid rgba(255, 84, 84, 0.849);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.384);
}


/* FINISH ROUNDS */
.containerFinishRounds {
    background-color: rgb(150, 184, 72);
    width: 400px;
    height: 95vh;
    border-radius: 5px;
}

/* ROUND ONE FINISH */
.containerFinish {
    background-color: rgb(72, 135, 184);
    width: 400px;
    height: 95vh;
    border-radius: 5px;
}

.finish {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88%;

}

.titleFinish {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 20px 30px 20px 30px;
    border: 3px solid #ffffff;
    border-radius: 5px;
}

.points {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    padding-top: 20px;
}



/* GAME OVER */
.containerOver {
    background-color: rgb(255, 31, 31);
    width: 400px;
    height: 95vh;
    border-radius: 5px;
}

.over {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88%;
}

.titleOver {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 30px 20px 30px;
    border: 3px solid #ffffff;
    border-radius: 5px;
}

.overRestart {
    display: flex;
    justify-content:flex-end;
    padding-right: 20px;
    gap: 10px;
}

.restart {
    border: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(255, 31, 31, 0);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.restart:hover {
    background-color: rgba(0, 0, 0, 0.253);
}

.item {
    pointer-events: none;
}

input {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 0 0 0 5px;
}

input::placeholder {
    color: rgb(216, 216, 216);
}

.input {
    background-color: rgba(255, 255, 255, 0.073);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.input.name {
    background-color: rgba(255, 0, 0, 0.182);
    color: #fff;
    border: 1px solid rgb(255, 128, 128);
}

.by {
    color: #fff;
    text-align: right;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.205);
    padding-top: 30px;
}

.author{
    height: 100px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 500px) {
    .containerRound {
        background-color: rgb(0, 21, 37);
        min-width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .containerOver {
        background-color: rgb(255, 31, 31);
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .containerFinish {
        background-color: rgb(72, 135, 184);
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .containerFinishRounds {
        background-color: rgb(150, 184, 72);
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .ronda_name {
        border-radius: 0;
    }
}